.centralizado{
  text-align: center;
}

.titulo-esquerda{
  color: #8492AF;
  font-size: 18px;
  font-family: 'FuturaStdBold';
  text-align: left;
  margin-bottom: 20px;
  margin-top: 10px;
}

.titulo-direita{
  color: #8492AF;
  font-size: 18px;
  font-family: 'FuturaStdBold';
  text-align: right;
  margin-bottom: 20px;
  margin-top: 10px;
}

.paragrafo-direita{
	text-align: right;
}


.img-destaque {
  top:50%;    
}

.logo_pessoas {
  position: relative;
  max-height: 70px;
  height: 70px;
}

.img-box-2 {
  background-size: cover;
  height: 180px;
  background-position: center center;
}

.breadcrumb-artigos{
  margin-top: 20px;
  margin-left: 80px;
  width: auto;
}

.img-destaque1{
	position: relative;
	max-height: 293px;
	max-width: 555px;
	width: auto;
	height: auto;
	margin-left: 25%;	
}

.img-destaque2{
	position: relative;
	max-height: 139px;
	min-width: 263px;
	width: auto;
	height: auto;	
}

.subtitulo_comentarios{
  font-family: 'FuturaStdBook';
  color: #8492AF;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: -15px;
}

.destaque-box2{
  max-height: 180px;
  margin-bottom: 32px;
  padding: 0;
  color: #6C6C6C;
  font-size: 16px;
  font-family: 'FuturaStdBold';  
}

.destaque-texto2{
  min-height: 50px;
  margin-top: 17px;
}

.titulo_pags{
  color: #0865ab;
  font-size: 28px;
  font-family: 'FuturaStdBold';
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.simuladores-parte2{
  font-family: 'FuturaStdBook';
  color: #0865ab;
  font-size: 23px;
}
.simuladores-parte-centralizado{
  font-family: 'FuturaStdBook';
  color: #0865ab;
  font-size: 23px;
  text-align: center;  
}
.simuladores-parte-sub{
  font-family: 'FuturaStdBook';
  color: #0865ab;
  font-size: 18px;
  text-align: center;  
}
.quem-somos-light-centralizado{
    font-size: 16px;
    color: #8492AF;
    font-family: 'FuturaStdLight';
    text-align: center;
}
.my_centered_buttons { 
	display: flex; 
	justify-content: center;
	margin-bottom: 15px; 
}

.pacto {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
}

.franquias {
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 20%;
}

.graficos {
	display: block;
	margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 20%;
}

.graficos2 {
	display: block;
	margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 110%;    
}

.img-responsive2 {
	min-width: 100%;
}

.detalhe-postagem {
	margin-top: 10px;
}

.h1-card{	
	text-align: left;
	font-weight: bold;
	font-size: 16px;
	margin-top: 5px;
}

.p-card{
	text-align: left;
	font-size: 14px;
	margin-top: 25px;
}

.row-card{
	
	margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.assunto{
	margin-top: 20px;
}

.postagem{
	margin-top: 20px;
}


.texto-justificado{
	text-align: justify;
	margin-top: 5px;
}

.citacao{
	background-color: #ccc;
	border: 1px solid #ccc;
	border-radius: 10px;
	margin-top: 5px;
}

a {
	text-decoration:none;	  		
	color:#333;
	cursor: pointer;  		
}
		
a:link{
	text-decoration:none;	  		
	color:#333;
	cursor: pointer;
}

a:visited{
	text-decoration:none;
	color:black;
	cursor: pointer;
}

a:hover{
	text-decoration:none;
	color:#999999;
	cursor: pointer;
}

a:active{
	text-decoration:none;
	color:blue;
	cursor: pointer;
}

.jacurtiu{
	text-decoration:none;
	color:blue !important;
	cursor: pointer;
}

.cadastrar-pg-inicial{
	color: #0865ab;
}

.rodape-menu{
    color: #fff !important;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
}

.acesso-negado{	
	
	text-align: center;	
}

.texto-termo{	
	font-size: 14px !important;
}
