* { box-sizing: border-box; padding:0; margin:0; }

body {
  color:#222;
  padding: 20px;
  font-family: 'FuturaStdBook';
  src: url("../fonts/FuturaStdBook.eot");
  src: url("../fonts/FuturaStdBook.eot") format("embedded-opentype"), url("../fonts/FuturaStdBook.woff2") format("woff2"), url("../fonts/FuturaStdBook.woff") format("woff"), url("../fonts/FuturaStdBook.ttf") format("truetype"), url("../fonts/FuturaStdBook.svg#FuturaStdBook") format("svg");
}

.wrapper {
  width:1150px;
  margin:80px auto;
  position:relative;
} 

.main:after {
  clear:both;
  content:"";
  display:table;
}
 
.main li {
  width:95px;
  height:95px;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow:inset 0 1px 0 rgba(255,255,255,0.4);
  position:relative;
  font-size:21px;
  text-align: right;
  float:left;
  padding:0 2px;
  margin:3px;
  cursor:pointer;
  padding-top:10px;
  overflow:hidden;
  transition:all .2s ease-in;
  text-shadow:0 1px 0 rgba(255,255,255,0.2);
}

.main li span {
  display:block;
  line-height:1;
  font-size:11px;
  color:white; 
  padding-top:-7px;
}

.main .empty {
  border:none; 
  box-shadow:none;
  cursor:default;
}

.deactivate {
  opacity:0.5;
  -webkit-filter:grayscale(70%);
  filter:grayscale(70%);
}

.main li:before,
.main li:after {
  content:attr(data-pos);
  position:absolute;
  top:3px;
  left:3px;
  color:white;
  font-size:11px;
  line-height:1;
}

.main li:after {
  content:attr(data-nb);
  left:auto;
  right:3px;
}

.main li:hover {
  transform:scale(2);
  z-index:100;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
} 

.main .empty:hover {
  box-shadow:none;
  transform:none;
}

.type-0 { background:#fff; }
.type-1 { background:#00BFFF; }
.type-2 { background:#00FF7F; }
.type-3 { background:#DC143C; }
.type-4 { background:#FFD700; }
.type-5 { background:#DAA520; }
.type-6 { background:#FF6347; }
.type-7 { background:#9BFFB9; }
.type-8 { background:#008081; }
.type-9 { background:#FD7D4D; }

.cat-0 { color:#000; }
.cat-1 { color:#0000dc; }
.cat-2 { color:#b10601; }


.legend {
  position:absolute;
  width: 58%;
  height: 85px;
  top:520px;
  left:19%;
  padding:10px;
  font-size:11px;
  background:#f1edec;
  border:1px solid rgba(0,0,0,0.2);
  border-radius:15px;
  box-shadow:
    inset 0 1px 1px white,
    inset 0 -5px 3px #dddcdb,
    0 0 10px rgba(0,0,0,0.2);
}

.legend:after {
  content:"";
  display:table;
  clear:table;
}

.legend ul { float:left; list-style: none; }

.legend .list-2 {	
  margin-left:60px;
  width: 130px;
}

.legend .list-1 li { margin:7px 0; }
.legend .list-1 li:first-of-type { margin-top: 2px; }

.legend .list-1 span {
  border:1px solid black; 
  display:inline-table;
  padding:3px;
  width:23px;
  text-align:center;
  height:18px; 
  margin-right:5px;
  margin-left:15px;
}

.legend .list-2 li {
	
  margin:2px;
  padding:3px;
  float:left; 
  border:1px solid rgba(0,0,0,0.2);
  width:100%;
  cursor:pointer;
}